<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY CAFE ADMIN</title>
  <link rel="stylesheet" href="/styles2.css" />
 </head>


<body>
   <section class="header">
  <h1> Welcome to My Cafe For Admin. </h1>
       <%= new Date();%>
   <section>

<section data-position="orders">
 <h2> Orders </h2>

 <ul class="orders">
  <!-- Loop through orders -->
  <% for(var i = 0; i < orders.length; i++) {%>
    <li class="order">
      <!-- Output name from the iterated order object -->
      Name:<span><%= orders[i].name %></span></p>
      <!-- Output order from the iterated order object -->
      Matric number:<span><%= orders[i].matric_number %></span></p>
      No phone:<span><%= orders[i].no_phone %></span></p>
      Order:<span><%= orders[i].order %></span></p>
      Status:<span><%= orders[i].status %></span></p>
    </li>
  <% } %>
 </ul>
</section>



 <section class="update-order">
  <div>
  <h2>Accept order Cafe 1</h2>
  <p>
    Add status field into the documents
  </p>
  <button id="update-button">Accept order</button>
 </div>
 </section>
  


 <section class="delete-order">
  <div>
  <h2>Delete Cafe 1 orders here.</h2>
  <p>
    Delete all orders inside the database for Cafe 1. Does nothing if there are no more orders.
  </p>
  <button id="delete-button">Delete all orders for Cafe 1</button>
 </div>
 </section>

 


  



  <script src="/main.js"></script>
 </body>
</html>
 
