<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY CAFE</title>
  <link rel="stylesheet" href="/styles.css" />
 </head>

 <body>
  <section class="header">
  <h1>Welcome to My Cafe. </h1>
       <%= new Date();%>
  </section>
    


 <section class="add-orders">
  <h1> Cafe 1 order here</h1>

  <form action="/orders" method="POST">
   <input type="text" placeholder="name" name="name">
   <input type="text" placeholder="matric number" name="matric_number">
   <input type="text" placeholder="no phone" name="no_phone">
   <input type="text" placeholder="order" name="order">
   <button type="submit">Submit</button>
  </form>
 

 
  <h1> Cafe 2 order here</h1>
 
 <form action="/orders2" method="POST">
   <input type="text" placeholder="name" name="name">
   <input type="text" placeholder="matric number" name="matric_number">
   <input type="text" placeholder="no phone" name="no_phone">
   <input type="text" placeholder="order" name="order">
   <button type="submit">Submit</button>
  </form>
 </section>

  <section data-position="foods">
      <h2>Foods Menu Cafe 1</h2>

      <ul class="foods">
        <% for(var i = 0; i < 3; i++) {%>
        <li class="food">
          <span><%= foods[i].food %></span>:
          <span><%= foods[i].prices %></span>
        </li>
        <% } %>
      </ul>

   <section data-position="foods2">
      <h2>Foods Menu Cafe 2</h2>

      <ul class="foods">
        <% for(var i = 3; i < foods.length; i++) {%>
        <li class="food">
          <span><%= foods[i].food %></span>:
          <span><%= foods[i].prices %></span>
        </li>
        <% } %>
      </ul>
    </section>

 




  

  <script src="/main.js"></script>
 </body>
</html>